<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .success{
     color:red;
    }
    .btn{
      width:100px;
    }
    .myform{
      position: relative;
      display: -ms-flexbox;
      display: flex;
      padding: 1rem;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 1.1rem;
      outline: 0;
     
      left: 65%;
      top: 100px;
       }
       .mt-5{
        margin-top:15px;
       }
   </style>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Change Password</title>
</head>
<body>
  <div class="container">
    <div class="row">
  <div class="col-md-5 mx-auto">
  <div id="first">
    <div class="myform form ">
       <div class="logo mb-3">
         <div class="col-md-12 text-center">
          <h1>Change Password</h1>
         </div>
      </div>
 <form action="" method="post" novalidate>
  {% csrf_token %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
       <p>{{ error }}</p>
    {% endfor %}
  {% endif %}

  {% for fm in form %}
   {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
  {% endfor %}
  <input type="submit" value="Save"  class="btn btn-primary">
 </form>
 <a href="{% url 'profile' %}"  class="btn btn-info mt-5">Profile</a>
 <a href="{% url 'logout' %}" class="btn btn-danger mt-5">Logout</a>
</div>
</div>
</div>
</div>
</div>
</body>
</html>